// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body {
	background-color: #142124;
}

.main{

	margin: auto;
	max-width: 940px;
}

.navbar {
 background-color: #2B2B2B;
 border-color: #2B2B2B;
}

.active {
	background-color: #2B2B2B;
}

h1 { 
font-size: 22px;
font-color: #fff; 
}